<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSfznS5zqcXOfaSa-Es7QPDrH-42AmL7I</string>
	<key>GCM_SENDER_ID</key>
	<string>143145186557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BGitaIl.prod</string>
	<key>PROJECT_ID</key>
	<string>apptail-1746b</string>
	<key>STORAGE_BUCKET</key>
	<string>apptail-1746b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143145186557:ios:d76d7a938371b7374ffa94</string>
</dict>
</plist>